* {

  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: Roboto,Arial,sans-serif;
  scroll-behavior: smooth;
}
/*
header{
  width:100%;
  height: 60px;
  background-color:#2874f0;
  position: fixed;
  display: flex;
  flex: auto;
  color: #f0f0f0;
  flex-direction: row;
}
*/
.head_flex{
  width:100%;
  height: 60px;
 display: flex;
flex-direction: row;
background-color: #2874f0;


}

.head_flex > div{

 
  margin: 10px;
}
.head_nav{

  width: 100%;
  height: 50px;
  background-color: white;
  position: relative;
  
}
.slider{
  width: 100%;
  
 
}
a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;

}

.mySlides{
  height: inherit;
}
.img1{
 
 

}
.search{
  width: 800px;  
  
} 

.login{
  padding: 10px;
  color: #fff;
  font-weight: bolder;
  
}
.signup{
  padding: 10px;
  color: #fff;
  font-weight: bolder;
  }
.cart{
  padding: 10px;
  color: #fff;
  font-weight: bolder;
  }

#himg1{
  height: 45px;
  width:100px;
  padding: 12px;    
}

.header_search {
  padding: 0 16px;
  border-radius:2px;
  border: 0;
  outline: 0 none;
  font-size: 14px;
  height: 36px;
  width: 50%;
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* nav bars style starts here*/
nav {    
  display: block;
  text-align: center;
  font-weight: bolder;

}

nav ul {
  margin: 0;
  padding-top: 7px;
  list-style: none;
}
.nav a {
  display:block; 
  background:#fff; 
  color:#111; 
  text-decoration: none;
  padding: .8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  position: relative;
}
.nav{  
  vertical-align: top; 
  display: inline-block;
  border-radius:6px;
}
.nav li{
  position: relative;
 }
.nav > li { 
  float:left; 
  
  margin-right: 70px; 
} 
.nav > li > a { 
  margin-bottom:1px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: black;
  }
.nav li:hover > a 
{ 
  color:orange; 
}
 
.nav > li:first-child>a{border-radius: 4px 0 0 0;}
.nav > li:last-child  { 
  border-radius: 0 0 4px 0; 
  margin-right: 0;
} 

.nav li li a { margin-top:1px}



  .nav li a:first-child:nth-last-child(2):before { 
   content:""; 
   position: absolute; 
   height:0; 
   width: 0; 
   border: 5px solid transparent; 
   top: 50% ;
   right:5px;  
 }
 
/* submenu positioning*/
.nav ul {
position: absolute;
white-space: nowrap;
z-index: 1;
left: -99999em;
}
.nav > li:hover > ul {
left: auto;
padding-top: 5px  ;
min-width: 100%;
}
.nav > li li ul {  border-left:1px solid #fff;}
.nav > li li:hover > ul { 
left: 100%;
top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
border-top-color: #aaa; 
}
.nav li li > a:first-child:nth-last-child(2):before {  
border-left-color: #aaa; 
margin-top: -5px
}


section{
  width:100%;
  display: block; 
  height: auto;
  
}

aside{
      width:20%;
      float:left;
      border: 5px solid rgb(214, 214, 214); 
      height: auto;
      border-right: none;
}

aside>a{
  padding:10px;
}

article{
      width:80%;
      float:right;
      border: 5px solid rgb(214, 214, 214); 
      height: auto;
}
.clear{
  clear: both;
}

.a_main{
  width:100%;
  height: 200px;
  
}

.a_left{
  float: left;
  width:20%;
  height: inherit;
  padding: 5px 0 5px 0;
}

.a_center{
  width: 80%;
  float: right;
  height: inherit;
  padding: 5px 0 5px 0;
}

.a_right{
  width: 20%;
  float: right;
  height: inherit;
  padding: 5px 0 5px 0;
}

.mob{
  height: 190px;
  padding-left: 50px;
}

h5{

  font-size: 1.5em;
}

.a_right > ol{

  padding-top: 15px;
}

#aside_content1{
  padding: 5px;
}

#aside_content1_a{
  text-align: center;
}
#aside_content1_a >span{
font-size: 2em;
font-weight: bolder;
}

.foot{
  background-color: #172337;
  bottom: 0;
  border-top: 1px solid #ddd;
}

#heart {
color: black;  
}

.red {
color: red;
}

.black {
color: black !important;
}

/*content dividing starts here */

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  }

.left {
  width: 15%;
}

.right{
  width: 25%;
}

.middle {
  width: 60%;
  line-height: 1.5em;
  
}
.middle >h5{

  padding-bottom: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*content dividing ends here */

.assured{
  width:80px;
 
    margin-left: 10px;
    padding-left: 5px;
}

.displayinline{
  display: flex;
  padding-top: 10px;
}

.right_span{
  color: green;
  padding-left: 10px;
  font-size: 12px;
}

.green{
  color : green;
}

.offerspad{
  padding-top: 20px;
}

/* Tabs */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.price{
  font-weight: bolder;
    font-size: 18px;
}
